.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  transition: 0.5s;
}

.footer__column-link:hover {
  opacity: 0.5;
}
